html, body {
    height: 100%;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

html{
    background-color: grey;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h1 {
    font-size: 3rem;
    font-weight: bold;
    color: white;
    margin-top: 50px;
    padding-top: 50px;
}

button {
    width: 100px;
    height: 100px;
    border-radius: 15px;
    border: 2px solid grey;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
    color: white;
    background-color: rgb(45, 45, 45);
}

#calculator {
width: 400px;
background-color: rgb(114, 113, 113);
border-radius: 15px;
border: 2px solid grey;
padding: 50px;


}

#display {
    width: 98%;
    height: 100px;

    background-color: rgb(0, 43, 78); 
    font-size: 3rem;
    font-weight: bold;
    color: white;

    border-radius: 15px;
    border: 2px solid grey;
    margin-bottom: 20px;

}

#keys {
    display: flex;
    flex-wrap: wrap;
}

.row {
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;
}

.big-child {
flex: 2 1 33.333%
}
.small-child {
flex: 0 1 25%;
}

.mid {
    flex: 1 1 25%;
}

button:hover {
    background-color:  rgb(58, 57, 57);
}
button:active {
    background-color:  rgb(127, 127, 127);
}