button {
    width: 100px;
    height: 100px;
    border-radius: 15px;
    border: 2px solid;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
    color: white;
    background-color: rgb(45, 45, 45);
}

#calculator {
width: 400px;
   
}

#keys {
    display: flex;
    flex-wrap: wrap;
}

.row {
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;
}

.big-child {
flex: 2 1 33.333%
}
.small-child {
flex: 0 1 25%;
}

.mid {
    flex: 1 1 25%;
}

